@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .SideProjects {
    @apply flex flex-col h-full;
  }

  .SideProjectItem,
  .SideProjectItem_CloseIcon {
    @apply duration-500 ease-out transition-all;
  }

  .SideProjectItem {
    @apply relative mb-2 pt-4 pb-5 px-4 text-left border;
  }

  .SideProjectItem.inactive {
    @apply border-slate-800 bg-boldy opacity-25 rounded-xl cursor-pointer text-gray-500;
  }

  .SideProjectItem.active {
    @apply bg-slate-800 rounded-xl cursor-pointer text-gray-500;
  }

  .SideProjectItem.active:hover {
    @apply border-tertiary;
  }

  .SideProjectItem.inactive:hover {
    @apply opacity-100;
  }

  /*
  .SideProjectItem.active {
    @apply: bg-secondary text-black;
  }
  .SideProjectItem:hover {
    @apply: bg-secondary text-black;
  }
  .inactive {
    @apply: bg-slate-800;
  }
  */

  .SideProjectItem.active .SideProjectItem_CloseIcon,
  .SideProjectItem:hover .SideProjectItem_CloseIcon {
    @apply bg-primary hover:bg-tertiary;
  }

  .SideProjectItem_CloseIcon {
    @apply absolute top-1 right-1 w-6 h-6 bg-tertiary flex items-center justify-center rounded-full text-white;
  }
}
